<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Rapid Assessment Tool</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/reference_css.css">
  <link rel="stylesheet" type="text/css" href="../css/Capture.css">
  <script src="JS/fte.js"></script>
    <script src="../js/edit.js"></script>
  <script src="../js/filter.js"></script>
  <script src="../js/calculations.js"></script>
   <script src="../js/CaptureProcess.js"></script>
  <!-- =======================================================
  * Template Name: OnePage - v2.0.0
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      {{!-- <h1 class="logo mr-auto"><img src="mphasis_logo.jpg" width="150"></h1> --}}
     
      <nav class="nav-menu d-none d-lg-block">
        {{!-- <h1 class="logo mr-auto"><img src="mphasis_logo.jpg" width="150"></h1> --}}
       
        <ul>
          <ul>
        <li><img src="mphasis_logo.jpg" width="150"></li>
        </ul>
         
          <li><a href="/user/indexexample">Home</a></li>
          <!--process dicsovery -->
           <li class="dropdown">
          <a href="#"  data-toggle="dropdown" role="button" aria-expanded="false">Process Discovery<span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
              <li><a href="/user/CaptureProcess"><b>Capture Process</b></a></li>
              <li><a href="/user/viewProcessList"><b>View Process</b></a></li>
              <li><a href="/user/approveProcess"><b>Approve Process</b></a></li>
              <li><a href="/user/list"><b>Process Prioritization</b></a></li>
              <li><a href="/user/uploadDownload"><b>Upload/Download Process</b></a></li>
             
             
           </ul>
       </li>
       <li class="dropdown">
          <a href="#"  data-toggle="dropdown" role="button" aria-expanded="false">Process Flow Documentation<span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
              <li><a href="/user/captureProcessFlow"><b>Capture Process Flow</b></a></li>
              <li><a href="/user/viewWorkflow"><b>View Process Flow</b></a></li>
             
             
           </ul>
       </li>
        <li class="dropdown">
          <a href="#"  data-toggle="dropdown" role="button" aria-expanded="false">Business Case & Roadmap<span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
              <li><a href="/user/listbusiness"><b>Select</b></a></li>
              <li><a href="/user/viewEffortList"><b>View</b></a></li>
             
             
           </ul>
       </li>
         
          <li class="drop-down"><a href="">Settings</a>
            <ul>
              {{!-- <li><a href="#">Drop Down 1</a></li> --}}
              <li class="drop-down"><a href="#">User Management</a>
                <ul>
                   <li><a href="/user/userManagement"><b>User Management Home</b></a></li>
              <li><a href="/user/register"><b>Create User</b></a></li>
              <li><a href="/user/userList"><b>View Users</b></a></li>
             
                </ul>
              </li>
              <li class="drop-down"><a href="#">Configuration Details</a>
                <ul>
                  <li><a href="/user/fetchConfigurationDetails"><b>Automation Anywhere</b></a></li>
              <li><a href="/user/fetchConfigurationDetails2"><b>UiPath</b></a></li>
              <li><a href="/user/fetchConfigurationDetails3"><b>Pega Robotics</b></a></li>
              <li><a href="/user/fetchConfigurationDetails4"><b>Blue Prism</b></a></li>
             
                </ul>
              </li>
             
            </ul>
          </li>
         
         
          <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                   <li> <button type="button" onclick="goBack()" class="btn btn-primary btn-lg">Back</button></li>
        </ul>
      </nav><!-- .nav-menu -->

      {{!-- <a href="#services" class="get-started-btn scrollto">Get Started</a> --}}

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>View Process</h1>
        
        </div>
      </div>
      <div class="fontbig">
     
    <center><font color="green"><h2>{{viewtitle}}</h2></font></center><br>
    <div  align="center">
  <label id="cb" for="Business_Case_Id"><font size="4"><b>Process Id : </font></b></label>
<input class="outbox" style="text-align: center; vertical-align: middle; font-weight: bold" type="text-center"  maxlength="30" value="{{process.Proc_Id}}" id="businesscaseid" name="Business_Case_Id" readonly>
</div>
  
<ul class="nav nav-tabs">

    <li class="active"><a href="#tab1" data-toggle="tab">Page 1</a></li>

    <li><a href="#tab2" data-toggle="tab">Page 2</a></li>

   

</ul>

   
       
   <div id="main_div">
  <form action="/user/updateDetails" method="POST">
  <div class="tab-content">
     <div class="tab-pane active" id="tab1">
 
    <div class="form-row">
        <div  class="form-group col-md-6">
          <div class="classWithPad">
     
        <label for="fname">1. Client Name</label>
     
     
        <input type="text-center"  class="form-control" id="cname" maxlength="30" name="clientName" value="{{process.clientName}}" readonly>
     </div>
      </div>
   
   
    <div  class=" form-group col-md-6">
      <div class="classWithPad">
   
        <label for="lname">2. Business Unit</label>
     
     
        <input type="text-center" class="form-control" id="busiunit" maxlength="30" name="Buss_Unit" value="{{process.Buss_Unit}}" readonly>
      </div>
    </div>
    </div>
    <div class="form-row">
        <div class=" form-group col-md-6">
          <div class="classWithPad">
        <label for="country">3. Sub Business Unit</label> 
     
     
        <input type="text-center" class="form-control" id="subbunit" maxlength="30" name="Sub_Buss_Unit" value="{{process.Sub_Buss_Unit}}" readonly>
      </div>
      </div>
   
   <div class=" form-group col-md-6">
     <div class="classWithPad">

          <label for="country">4. Process Name</label> 
       
       
          <input type="text-center" class="form-control" id="pname" maxlength="30" name="Proc_Name" value="{{process.Proc_Name}}" readonly>
        </div>
      </div>
      </div>
      <div class="form-row">
        <div class=" form-group col-md-6">
          <div class="classWithPad">
          <label for="country">5. Process Id</label> 
       
       
          <input type="text-center"  class="form-control" id="procid" maxlength="30" name="Proc_Id" value="{{process.Proc_Id}}" readonly>
        </div>
        </div>
      <div class=" form-group col-md-6">
         <div class="classWithPad">
        <label>6. Process Description</label>
     
     
        <input id="subj" class="form-control"  name="Proc_Desc" style="height:120px" value="{{process.Proc_Desc}}" readonly>
      </div>
      </div>
    </div>
    <div class="form-row">
       <div class=" form-group col-md-6">
         <div class="classWithPad">
          <label for="country">7. Monthly Volume</label> 
       
       
            <input type="number-center" class="form-control" oninput="calculate()" onkeypress="return isNumberKey(event)"  id="mv" maxlength="30" name="Mon_Vol" value="{{process.Mon_Vol}}"readonly/>
        </div>
        </div>
     
      <div class=" form-group col-md-6">
        <div class="classWithPad">
          <label for="country">8. AHT(in minutes)</label> 
       
   
            <input type="number-center" class="form-control" oninput="calculate()"  onkeypress="return isNumberKey(event)" id="aht" step="any" maxlength="30" name="AHT" value="{{process.AHT}}" readonly/>
        </div>
        </div>
      </div>
      <div class="form-row">
        <div class=" form-group col-md-6">
          <div class="classWithPad">
          <label for="country">9. FTE</label> 
       
       
            <input type="number-center"   class="form-control"  id="fte" step="any" maxlength="30" name="FTE" value="{{process.FTE}}" readonly>
        </div>
        </div>
     
      <div class=" form-group col-md-6">
        <div class="classWithPad">
       
          <label for="sla">10. SLA</label>
       
       
          <select  class="form-control" id="slacalc" name="SLA" >
                <option disabled selected value> -- {{process.SLA}}-- </option>
                  <option id="1" value="Less than 8 hrs" disabled>Less than 8 hrs</option>
                     <option id="2" value="Less than 12 hrs" disabled>Less than 12 hrs</option>
                     <option id="3" value="Less than 24 hrs" disabled>Less than 24 hrs</option>
                     <option id="4" value="Less than 48 hrs" disabled>Less than 48 hrs</option>
                
          </select>
        </div>
        </div>
      </div>
     
   
   
   
    <div class="form-row">
        <div class=" form-group col-md-6">
          <div class="classWithPad">
          <label for="fname">11. TAT</label>
       
       
          <select  class="form-control" id="slacalc" name="TAT" >
                 <option disabled selected value> -- {{process.TAT}} -- </option>
                <option id="5" value="Less than 8 hrs" disabled>Less than 8 hrs</option>
                     <option id="6" value="Less than 12 hrs" disabled>Less than 12 hrs</option>
                     <option id="7" value="Less than 24 hrs" disabled>Less than 24 hrs</option>
                     <option id="8" value="Less than 48 hrs" disabled>Less than 48 hrs</option>
                
                     </select>
        </div>
        </div>
     
      <div class=" form-group col-md-6">
        <div class="classWithPad">
            <label for="lname">12. Applications Used</label>
         
         
            <input  class="form-control" type="text-center" id="appused" maxlength="150" name="App_Used"  value="{{process.App_Used}}" readonly>
          </div>
          </div>
        </div>
        <div class="form-row">
            <div class=" form-group col-md-6">
              <div class="classWithPad">
              <label for="country">13. Documentations of the process</label> 
           

           <select  class="form-control" id="docpre" onchange="automation()" name="Doc_Present">
                          <option disabled selected value> -- {{process.Doc_Present}} -- </option>
                         
                           <option id="9" value="No Documenation" disabled>No Documenation</option>
                           <option id="10" value="Partial Documentation" disabled>Partial Documentation</option>
                           <option id="11" value="Detailed Documentation" disabled>Detailed Documentation</option>
                          </select>
           
                  
            </div>
            </div>
         
          <div class=" form-group col-md-6">
            <div class="classWithPad">
                <label for="country">14. Rule based process</label> 
                     <select class="form-control" onchange="ap()" id="rbased" name="Rule_Based">
                             
                            <option disabled selected value> -- {{process.Rule_Based}} -- </option>
                              <option id="12" value="High" disabled>High</option>
                              <option id="13" value="Medium" disabled>Medium</option>
                              <option id="14" value="Low" disabled>Low</option>

                             </select>
             
                    
              </div>
              </div>
            </div>
          <div class="form-row">
            <div class=" form-group col-md-6">
              <div class="classWithPad">
              <label>15. Structure of Input Data</label>
           
           
                 <select class="form-control" id="dattype" name="Stuc_Data">
                          
                         <option disabled selected value> -- {{process.Stuc_Data}} -- </option>
                      <option id="15" value="Structured" disabled>Structured</option>
                      <option id="16" value="Unstructured" disabled>Unstructured</option>
                      <option id="17" value="Mix of both" disabled>Mix of both</option>
                     </select>
            </div>
            </div>
       
          <div class=" form-group col-md-6">
            <div class="classWithPad">
                <label for="country">16. Input data type</label> 
           
             
                      <select  class="form-control" id="indat" name="Inp_Data_Type">
                               
                               <option disabled selected value> -- {{process.Inp_Data_Type}} -- </option>
                          <option id="18" value="Digitized" disabled>Digitized</option>
                          <option id="19" value="Non Digitized" disabled>Non Digitized</option>
                          <option id="20" value="Mix of Both" disabled>Mix of both</option>

                         </select>
              </div>
              </div>
            </div>
            <div class="form-row">
              <div class=" form-group col-md-6">
                <div class="classWithPad">
                <label for="country">17. Percentage of process amenable for RPA</label> 
             
             
                      <input class="form-control" oninput="ap()" onchange="ValidateRange()" onkeyup="validOrPunchTheUser(this)" onkeypress="return isNumberKey(event)" min="0" max="100" type="number-center" step="any" name="Amenable_RPA" id="arpa" value="{{process.Amenable_RPA}}" readonly>
              </div>
              </div>
           
           
              <div class=" form-group col-md-6">
                <div class="classWithPad">
                <label for="country">18. Percentage of process amenable for cognitive</label> 
             
       
                      <input class="form-control" oninput="ap()" onchange="ValidateRange1()" onkeyup="validOrPunchTheUser(this)"  onkeypress="return isNumberKey(event)" min="0" max="100" type="number-center" step="any" name="Amenable_Cognitive" id="crpa" value="{{process.Amenable_Cognitive}}" readonly >
              </div>
              </div>
            </div>
            <div class="form-row">
              <div class=" form-group col-md-6">
                <div class="classWithPad">
                <label for="sla">19. Automation Readiness</label>
             
             
                      <input class="form-control" type="number-center" step="any" name="Automation_Ready" min="0" max="100" id="Ar" value="{{process.Automation_Ready}}" readonly>
              </div>
              </div>
           
            <div class=" form-group col-md-6">
              <div class="classWithPad">
                <label for="sla">20. Percentage of Automation Potential</label>
             
                      <input class="form-control" min="0" max="100" id="apot" type="number-center" step="any" name="AP_Perc" value="{{process.AP_Perc}}"  readonly>
              </div>
              </div>
            </div>
             <div class="form-row">
           
              <div class=" form-group col-md-6">
                <div class="classWithPad">
                <label for="sla">21. FTE Benifit</label>
             
             
                      <input class="form-control" id="fteb" type="number-center" step="any" name="FTE_Benefit" value="{{process.FTE_Benefit}}" readonly>
              </div>
              </div>
              </div>
           
             <div class="text-center">
               <input id="btnEdit" class="btn btn-primary btn-lg" type="button" value="Edit">

        <a id="sec2" href="#tab2" data-toggle="tab" class="btn btn-primary btn-lg">Next</a>
      </div>
             
           
           
  </div>
<div class="tab-pane" id="tab2">

   <div class="form-row">
        <div class=" form-group col-md-6">
          <div class="classWithPad">
     
        <label for="fname">22. Number of applications involved in the process</label>
     
     
        <input type="text-center" oninput="funtional_point()" id="noa" class="form-control"  name="Num_of_apps" onkeypress="return isNumberKey(event)"  value="{{process.Num_of_apps}}"  readonly>
     </div>
        </div>
   
    <div class=" form-group col-md-6">
      <div class="classWithPad">
   
        <label for="lname">23. Number of mainframe applications involved</label>
     
     
        <input type="text-center" oninput="funtional_point()" id="nom" class="form-control" name="Num_of_mainframe" onkeypress="return isNumberKey(event)" value="{{process.Num_of_mainframe}}"  readonly>
     
    </div>
    </div>
    </div>
    <div class="form-row">
        <div class=" form-group col-md-6">
          <div class="classWithPad">
        <label for="country">24. Number of applications to be accessed through Citrix</label> 
     
     
        <input type="text-center" oninput="funtional_point()" id= "noc" class="form-control"  name="Num_of_Citrix" onkeypress="return isNumberKey(event)"  value="{{process.Num_of_Citrix}}"  readonly>
       </div>
        </div>
   
   <div class=" form-group col-md-6">
     <div class="classWithPad">

          <label for="country">25. Are there any 3rd Party Sites involved  in the process</label> 
       
          <select id="tps" onchange="funtional_point()" class="form-control" name="Third_party_sites">
                <option disabled selected value> -- {{process.Third_party_sites}} -- </option>
                
                <option id="21" value="Yes" disabled>Yes</option>
                     <option id="22" value="No" disabled>No</option>
                     
          </select>   
      </div>
   </div>
      </div>
      <div class="form-row">
        <div class=" form-group col-md-6">
          <div class="classWithPad">
          <label for="country">26. Number of Screens involved in the process
</label> 
       
       
          <input type="text-center" oninput="funtional_point()" id="nos" class="form-control"  maxlength="30" name="Num_of_scrs" onkeypress="return isNumberKey(event)" value="{{process.Num_of_scrs}}"  readonly>
          </div>
        </div>
      <div class=" form-group col-md-6">
    <div class="classWithPad">
        <label>27. Number of  process steps
</label>
     
     
        <input id="subject" oninput="funtional_point()" class="form-control"  name="Num_of_proccessteps" onkeypress="return isNumberKey(event)" value="{{process.Num_of_proccessteps}}"  readonly>
      </div>
      </div>
    </div>
    <div class="form-row">
       <div class=" form-group col-md-6">
         <div class="classWithPad">
          <label for="country">28. Number of Exceptions/alternate scenarios
</label> 
       
       
            <input type="number-center" oninput="funtional_point()"  id="nosc" class="form-control"  onkeypress="return isNumberKey(event)"    name="Num_of_Scenarios" value="{{process.Num_of_Scenarios}}"  readonly/>
       </div>
       </div>
     
      <div class=" form-group col-md-6">
        <div class="classWithPad">
          <label for="country">29. Number of Decision points involved in the process
</label> 
       
            <input type="number-center" oninput="funtional_point()" id="nod" class="form-control"   onkeypress="return isNumberKey(event)" name="Num_of_Decpoints" value="{{process.Num_of_Decpoints}}"  readonly/>
       </div>
      </div>
      </div>
      <div class="form-row">
        <div class=" form-group col-md-6">
          <div class="classWithPad">
         <label for="country">30. Number of Standard Input Template
</label> 
       
            <input type="number-center" oninput="funtional_point()" id="nost" class="form-control" name="Num_of_standardinput" onkeypress="return isNumberKey(event)" value="{{process.Num_of_standardinput}}"  readonly>
          </div>
        </div>
     
      <div class=" form-group col-md-6">
        <div class="classWithPad">
       
          <label for="sla">31. Interaction with Dynamic Table
</label>
       
         <select onchange="funtional_point()" id="indt" class="form-control"  name="Intr_dynamic_table">
                <option disabled selected value> -- {{process.Intr_dynamic_table}} -- </option>
                
                <option value="Yes"  id="23" disabled>Yes</option>
                     <option value="No" id="24" disabled>No</option>
                
          </select>
        </div>
        </div>
      </div>
     
   
   
   
    <div class="form-row">
        <div class=" form-group col-md-6">
          <div class="classWithPad">
          <label for="fname">32. Number of Dynamic\Ajax based controls
</label>
       
       
            <input type="number-center" oninput="funtional_point()" id="nob" class="form-control"  step="any" maxlength="30" name="Num_of_basedcontrols" onkeypress="return isNumberKey(event)" value="{{process.Num_of_basedcontrols}}"  readonly>
     </div>
        </div>
     
      <div class=" form-group col-md-6">
        <div class="classWithPad">
            <label for="lname">33. Number of Access Profile to cover
</label>
         
            <input  class="form-control" oninput="funtional_point()" type="text-center" id="noap"  name="Num_of_accessprofile" onkeypress="return isNumberKey(event)" value="{{process.Num_of_accessprofile}}"  readonly>
          </div>
      </div>
        </div>
        <div class="form-row">
            <div class=" form-group col-md-6">
              <div class="classWithPad">
              <label for="country">34. Number of Bform-rowser Support
</label> 
           
            <input  class="form-control" oninput="funtional_point()" type="text-center" id="nbs" name="Num_of_bform-rowsersupp" onkeypress="return isNumberKey(event)" value="{{process.Num_of_browsersupp}}"  readonly>
               </div>
            </div>
         
          <div class=" form-group col-md-6">
            <div class="classWithPad">
         <label for="country">35. Operational stability of the applications and how often is it changed?</label> 
             <select class="form-control" onchange="funtional_point()" id="opst"  name="Operation_stability">
                              <option disabled selected value> -- {{process.Operation_stability}} -- </option>
                              
                              <option id="25" value="Planned Downtime" disabled>Planned Downtime</option>
                              <option id="26" value="Once in a month" disabled>Once in a month</option>
                              
                             </select>
              </div>
          </div>
            </div>
          <div class="form-row">
            <div class=" form-group col-md-6">
              <div class="classWithPad">
             <label>36. Frequency of business process Change</label>
           
                    <select onchange="funtional_point()" id="freqch" class="form-control" name="Freq_change">
                          <option disabled selected value> -- {{process.Freq_change}} -- </option>
                          
                      <option id="27" value="Frequently" disabled>Frequently</option>
                      <option id="28" value="Infrequently" disabled>Infrequently</option>

                     </select>
            </div>
            </div>
       
          <div class=" form-group col-md-6">
            <div class="classWithPad">
                 <label for="country">37. Service Level Agreement of the process?</label> 
             
                      <select  class="form-control" onchange="funtional_point()" id="svc" name="Svc_lvl_agr">
                              <option disabled selected value> -- {{process.Svc_lvl_agr}} -- </option>
                              
                          <option id="29" value="Less than 8 hrs" disabled>Less than 8 hrs</option>
                          <option id="30" value="Less than or equal to 24 hrs" disabled>Less than or equal to 24 hrs</option>
                          <option id="31" value="More than 24 hrs" disabled>More than 24 hrs</option>

                          
                         </select>

              </div>
          </div>
            </div>
            <div class="form-row">
              <div class=" form-group col-md-6">
                <div class="classWithPad">
                <label for="country">38. Number of Business User to Get Sign-off
</label> 
             
                      <input  class="form-control" oninput="funtional_point()" type="text-center" id="nog"  name="Num_of_getsignoff" onkeypress="return isNumberKey(event)" value="{{process.Num_of_getsignoff}}"  readonly>
           </div>
              </div>
           
           
              <div class=" form-group col-md-6">
                <div class="classWithPad">
                <label for="country">39. Number of Business Team Required for Environment Set-up
</label> 
             
                      <input  class="form-control" oninput="funtional_point()" type="text-center" id="noes"  name="Num_of_Envsetup" onkeypress="return isNumberKey(event)" value="{{process.Num_of_Envsetup}}"  readonly>
          </div>
              </div>
            </div>
            <div class="form-row">
              <div class=" form-group col-md-6">
                <div class="classWithPad">
                <label for="sla">40. Funtional Point ( Ease of Implementation) X- Axis</label>
             
             
                      <input class="form-control"  type="number-center" id="funp" name="Func_point"  value="{{process.Func_point}}" readonly>
              </div>
              </div>
           
            <div class=" form-group col-md-6">
              <div class="classWithPad">
                <label for="sla">41. Monthly effort Savings (Y AXIS)
</label>
             
                      <input class="form-control"  type="number-center" id="meffs" name="Monthly_effsaving" value="{{process.Monthly_effsaving}}"  readonly>
                  </div>
            </div>
            </div>
            <div class="form-row">
              <div class=" form-group col-md-6">
                <div class="classWithPad">
                <label for="sla">42. Effort (#pm)
</label>
             
             
                      <input class="form-control"  type="number-center" id="effo" name="Effort" value="{{process.Effort}}"  readonly>
                 </div>
              </div>
           
            <div class=" form-group col-md-6">
              <div class="classWithPad">
                <label for="sla">43. Quadrant

</label>
             
             
                      <input class="form-control"  type="number-center" id="qua" name="Quadrant"  value="{{process.Quadrant}}" readonly>
                </div>
            </div>
            </div>


  
    
 <div class="text-center">
    
        <a id="fir" href="#tab1" data-toggle="tab" class="btn btn-primary btn-lg">Previous</a>
        <input id="btnEditing" class="btn btn-primary btn-lg" type="button" value="Edit">
        <button align="center" type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>




           
     

</div>
         
         
         
         
         
         
             
         
     </div>   
       </div>   
  </form>
  </div>
 
 

    </div>
  </section><!-- End Hero -->

 
  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>
  <script src="../assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../assets/vendor/counterup/counterup.min.js"></script>
  <script src="../assets/vendor/venobox/venobox.min.js"></script>
  <script src="../assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>